#calculator {
    margin-block-start: 3rem;
}

.select-container1 {
    display: flex;
    border-radius: 1.25rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 35px 25px;
    margin-top: 50px;
    margin-bottom: 70px;
}

label {
    font-size: 0.75rem;
    color: #333333;
    margin-bottom: 0.375rem;
}


#food1, #food2 {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1em;
    padding: 12px 5px;
    border: 1px solid #DDEAF1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#food1 {
    margin-bottom: 30px;
}

/* calculator 2 */
.select-container2 {
    display: flex;
    border-radius: 1.25rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    margin-bottom: 70px;
    /* flex-wrap: wrap; */
    align-items: center;
}


#food3 {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1em;
    padding: 12px 5px;
    border: 1px solid #DDEAF1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    margin-bottom: 15px;
}



.food-add-button:hover {
    background-color: rgb(255, 247, 129);
}


.food-add-button,
.reset-button {
    background-color: rgb(255, 243, 74);
    color: #241c15;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 100%;
    padding: .7em;
}


.reset-button {
    background-color: rgb(255, 171, 67);
}

.reset-button:hover {
    background-color: rgb(254, 196, 124);
}

.calculator3-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 110px;

}


.food-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.food-list-result {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.product-name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}



.delete-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.good-button-2,
.normal-button-2,
.bad-button-2 {
    box-sizing: content-box;
    background-color: rgb(21, 232, 44); 
    color: white; 
    font-weight: bold;
    padding-top: .8em;
    padding-bottom: .8em;
    border: none;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.normal-button-2 {
    background-color: rgb(232, 179, 44);
}

.bad-button-2 {
    background-color: rgb(232, 39, 44);
}


.food-list-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc2-result-label {
    font-size: 1rem;
}


.warning-message-2foods {
    color: rgb(255, 0, 0);
    font-size: 1.25rem;
    text-align: center;
}

.calc2-label-container {
    display: flex;
    align-items: start;
    width: 100%;
}



.content-inner-calculator {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calculator-title-container {
    display: flex;
    align-items: center;
}

.calculator-title {
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-wrap: balance;
}


.good-button,
.normal-button,
.bad-button,
.neutral-button {
    box-sizing: content-box;
    background-color: rgb(21, 232, 44); 
    color: white; 
    font-weight: bold;
    padding: 1em;
    border: none;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.normal-button {
    background-color: rgb(232, 179, 44);
}

.bad-button {
    background-color: rgb(232, 39, 44);
}


.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.calculator-button-label {
    font-size: 0.75rem;
    color: #333333;
}


.content-inner-calculator p {
    font-size: 1rem;
    line-height: 1.5;
    padding-block-start: 1em;
    padding-block-end: 1em;
    margin-inline-start: 0px;
}


.compatibility-image {
    margin-top: 30px;
}



.download-button {
    width: 100%;
    font-weight: 500;
    box-sizing: content-box;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #FFE01B;
    border: none;
    border-radius: 6px;
    padding: 12px 0px;
    cursor: pointer;
    transition: all 200ms;
    transition-property: background-color;

}

.download-button:hover {
    box-sizing: content-box;
    background-color: #ffeec0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #FFE01B 0px 0px 0px 2px;
}
.download-button:hover {
    font-weight: 600;
}


.select-wrapper1 {
    display: flex;
    flex-direction: column;
}



@media (min-width: 43.75rem) {
    .select-container1 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #food1 {
        margin: 0;
        width: 90%;
    }

    #food2 {
        margin: 0;
        width: 90%;
    }

    .good-button, .normal-button, .bad-button {
        padding: .96em 3em;
        display: inline-block;
        width: 100px;
    }

    .button-container {
        margin: 0;
    }
}